<a href="https://colab.research.google.com/github/asantos20/sobrevivencia/blob/main/Prova_Sobrevivencia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Setando diretório

In [1]:
setwd("/content/Prova")

Bibliotecas

In [ ]:
install.packages('lubridate')
install.packages('dplyr')
install.packages('tidyr')
install.packages('survival')
install.packages('survminer')

In [ ]:
install.packages('ggplot2')

Chamando bibliotecas

In [ ]:
#### Pacotes

library(lubridate) # organizar datas
library(dplyr) # manipular dados
library(tidyr) # manipular dados
library(survival) # estimar curvas
library(survminer) # sobrevivencia com ggplot

In [29]:
library(ggplot2)

Base de dados

In [ ]:
dados <- read.csv('Telecomunicacoes.csv', h = T, sep = ',')

In [6]:
head(dados)

  customerID gender SeniorCitizen Partner Dependents tenure PhoneService
1 7590-VHVEG Female 0             Yes     No          1     No
2 5575-GNVDE Male   0             No      No         34     Yes
3 3668-QPYBK Male   0             No      No          2     Yes
4 7795-CFOCW Male   0             No      No         45     No
5 9237-HQITU Female 0             No      No          2     Yes
6 9305-CDSKC Female 0             No      No          8     Yes
  MultipleLines    InternetService OnlineSecurity ⋯ DeviceProtection
1 No phone service DSL             No             ⋯ No
2 No               DSL             Yes            ⋯ Yes
3 No               DSL             Yes            ⋯ No
4 No phone service DSL             Yes            ⋯ Yes
5 No               Fiber optic     No             ⋯ No
6 Yes              Fiber optic     No             ⋯ Yes
  TechSupport StreamingTV StreamingMovies Contract       PaperlessBilling
1 No          No          No              Month-to-month Yes
2 No          No          No              One year       No
3 No          No          No              Month-to-month Yes
4 Yes         No          No              One year       No
5 No          No          No              Month-to-month Yes
6 No          Yes         Yes             Month-to-month Yes
  PaymentMethod             MonthlyCharges TotalCharges Churn
1 Electronic check          29.85            29.85      No
2 Mailed check              56.95          1889.50      No
3 Mailed check              53.85           108.15      Yes
4 Bank transfer (automatic) 42.30          1840.75      No
5 Electronic check          70.70           151.65      Yes
6 Electronic check          99.65           820.50      Yes

In [8]:
names(dados) ## Nome das variáveis

 [1] "customerID"       "gender"           "SeniorCitizen"    "Partner"
 [5] "Dependents"       "tenure"           "PhoneService"     "MultipleLines"
 [9] "InternetService"  "OnlineSecurity"   "OnlineBackup"     "DeviceProtection"
[13] "TechSupport"      "StreamingTV"      "StreamingMovies"  "Contract"
[17] "PaperlessBilling" "PaymentMethod"    "MonthlyCharges"   "TotalCharges"
[21] "Churn"

In [9]:
### Tratamento da Base

base_trat <- subset(dados, select = c(gender, tenure, Churn, Dependents, 
                                      Contract, PaymentMethod))
head(base_trat)

  gender tenure Churn Dependents Contract       PaymentMethod
1 Female  1     No    No         Month-to-month Electronic check
2 Male   34     No    No         One year       Mailed check
3 Male    2     Yes   No         Month-to-month Mailed check
4 Male   45     No    No         One year       Bank transfer (automatic)
5 Female  2     Yes   No         Month-to-month Electronic check
6 Female  8     Yes   No         Month-to-month Electronic check

In [10]:
######## Renomendando as variaveis para PT-BR
names(base_trat)[grep('gender', names(base_trat))] <- 'Genero'
names(base_trat)[grep('tenure', names(base_trat))] <- 'Tempo'
names(base_trat)[grep('Churn', names(base_trat))] <- 'Cliente'
names(base_trat)[grep('Dependents', names(base_trat))] <- 'Dependentes'
names(base_trat)[grep('Contract', names(base_trat))] <- 'Tipo de Contrato'
names(base_trat)[grep('PaymentMethod', names(base_trat))] <- 'Metodo de Pagamento'

In [11]:
names(base_trat)

[1] "Genero"              "Tempo"               "Cliente"
[4] "Dependentes"         "Tipo de Contrato"    "Metodo de Pagamento"

ANALISE DESCRITIVA DOS DADOS

In [19]:
summary(base_trat)

    Genero              Tempo         Cliente          Dependentes
 Length:7043        Min.   : 0.00   Length:7043        Length:7043
 Class :character   1st Qu.: 9.00   Class :character   Class :character
 Mode  :character   Median :29.00   Mode  :character   Mode  :character
                    Mean   :32.37
                    3rd Qu.:55.00
                    Max.   :72.00
 Tipo de Contrato   Metodo de Pagamento
 Length:7043        Length:7043
 Class :character   Class :character
 Mode  :character   Mode  :character

In [12]:
round((table(base_trat$Genero)/7043)*100, 2) ## Porcentagem por genero

Female   Male
 49.52  50.48

In [24]:
round((table(base_trat$`Tipo de Contrato`)/7043)*100, 2)  ## Porcentagem por Tipo de Contrato

Month-to-month       One year       Two year
         55.02          20.91          24.07

In [25]:
round((table(base_trat$Cliente)/7043)*100, 2)  ## Porcentagem por Cliente

   No   Yes
73.46 26.54

In [26]:
round((table(base_trat$Dependentes)/7043)*100, 2)  ## Porcentagem por Dependentes

   No   Yes
70.04 29.96

In [27]:
summary(base_trat$Tempo)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.00    9.00   29.00   32.37   55.00   72.00

VISUALIZAÇÃO DOS DADOS